.Header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-bottom: 10px;
    border-bottom: 4px solid #424242;
}
.Header__logo {
    margin-top: 5px;
}

.Header__logo a {
    text-decoration: none;
    color: #424242;
    font-size: 28px;
}

.Navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: -12px;
}

.Navigation__link {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #424242;
    font-size: 16px;
    padding: 8px 16px;
    border: 4px solid transparent;
}

.Navigation__link--active {
    border-color: #424242;
    color: #424242;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.Navigation__link::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    width: 0;
    height: 4px;
    background: #fff;
    transition: width .3s linear;
}

.Navigation__link--active::after {
    width: 100%;
}
